#butt{
    height: 100px;
    width: 200px;
}
#mainDiv{
    text-align: center;
  margin-inline: auto;
    height: 90vmin;
    width: 90vmin;
    border: 5px solid black;
    display: flex;
}
body{
    margin: 5%;

}
.tiles{
    border: 1px solid black;
}
.column{
    display: flex;
    width: 100vh;
    flex-direction: column;
    flex:1;

}
.row{
    flex: 1;
    
    
}
.darker{
    background-color: gray;
}