#butt{
    height: 100px;
    width: 200px;
}
#mainDiv{
    text-align: center;
    width: 960px;
    height: 960px;
}
body{
    margin: 5%;

}
.tiles{
    border: 1px solid black;
}
.column{
    display: flex;
    height: 5Vh;
}
.row{
    flex: 1;
}
.darker{
    background-color: gray;
}